@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap");

body {
  font-weight: 900;
  font-family: "Source Code Pro", monospace;
  background-color: rgb(237, 234, 234);
}

h1 {
  position: relative;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  display: grid;
  margin: 0 600px;
  border: dashed grey;
}

.todo-item {
  padding-left: 10px;
  border: darksalmon;
  padding: 0px;
  font-weight: bolder;
}

input {
  padding-left: 10%;
  width: 15%;
  height: 10px;
  padding: 12px 20px;
  margin: 9px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #c1b8b8;
  font-size: 16px;
  color: #555;
}

input:hover {
  border: 2px solid #555;
  outline: none;
  cursor: pointer;
}

button {
  justify-content: center;
  height: 5px;
  padding: 20px 50px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  color: black;
  box-sizing: border-box;
  position: relative;
  font-size: 1.25rem;
  background-color: #ccc;
}

button::after,
button::before {
  border: 3px solid #000;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

button:hover::after {
  transform: translate(-12px, -12px);
  background-color: #ccc;
}

button:hover::before {
  transform: translate(4px, 4px);
}
